/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  color: #555;
  font-size: 1.4rem;
}

li {
  list-style-type: none;
}

a,
i {
  cursor: pointer;
  vertical-align: middle;
  color: #555;
  text-decoration: none;
}

.link-item:link,
.link-item:visited {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

.link-item:hover,
.link-item:active {
  border-bottom: 1px solid rgb(36, 36, 36);
  color: rgb(36, 36, 36);
}

i:hover,
i:active {
  color: rgb(36, 36, 36);
}

/* Layout */

.container {
  display: grid;
  grid-template-columns: 14rem 52.5rem 1fr;
  column-gap: 2rem;
  row-gap: 3rem;
  padding: 2.5rem 1.5rem;
}

main {
  grid-column: 2;
}

footer {
  grid-column: 2;
}

/* Header */

header {
  grid-column: 1 / -1;
  gap: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 14rem 52.5rem 1fr;
  grid-template-rows: auto auto;
}

.logo {
  grid-column: span 1;
  grid-row: span 1;
}

.logo img {
  width: 100%;
}

.search {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  position: relative;
  align-self: start;
}

.search-input {
  display: block;
  width: 100%;
  height: 4.5rem;
  padding: 1.5rem;
  outline: none;
  border: 1px solid rgb(212, 209, 209, 0.8);
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(212, 209, 209, 0.8);
  transition: all 0.3s;
}

.search-input:hover,
.search-input:focus {
  border-left: 1px solid rgb(202, 202, 202);
  border-right: 1px solid rgb(202, 202, 202);
  box-shadow: 0px 2px 8px rgb(197, 197, 197);
}

.search i:first-of-type {
  position: absolute;
  top: 1rem;
  right: 5rem;
}

.search i:last-of-type {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.navigation {
  justify-self: end;
}

.nav-items {
  display: flex;
  gap: 1.5rem;
}

.menus {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  display: flex;
}

.left-menu,
.right-menu {
  display: flex;
}

.right-menu {
  margin-left: auto;
}

.right-menu a,
.left-menu a {
  color: rgb(124, 124, 124);
  padding: 0 10px 10px;
}

.menus a:hover,
.menus a:active {
  color: rgb(32, 32, 32);
}

.left-menu .selected {
  color: rgb(64, 135, 216);
  font-weight: 700;
  border-bottom: 3px solid rgb(64, 135, 216);
}

/* Main */

main {
  display: grid;
  gap: 2.5rem;
}

.info {
  color: rgb(124, 124, 124);
  font-size: 1.4rem;
  font-weight: 400;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.link {
  font-size: 20px;
  color: rgb(20, 69, 206);
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  border-bottom: 1px solid rgb(20, 69, 206);
}

.url,
.url i {
  color: rgb(2, 114, 39);
}

.related {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  row-gap: 1rem;
  column-gap: 5rem;
}

.related h2 {
  grid-column: 1 / -1;
  font-size: 1.8rem;
  font-weight: 400;
}

.related a {
  font-size: 15px;
}

.pagination {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.pagination li:last-child {
  padding-left: 2rem;
}

.pagination li:first-child {
  font-weight: 700;
}

/* Footer */

footer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  font-size: 1.3rem;
}

.location span {
  font-size: 1.6rem;
}

footer .links {
  display: flex;
  gap: 1rem;
}

.links a:link,
.links a:visited {
  color: rgb(124, 124, 124);
}

.links a:hover,
.links a:active {
  color: rgb(32, 32, 32);
}
