* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Basic */

body {
  font-family: "Lato", sans-serif;
  font-size: 13px;
}

.main,
.results-footer {
  width: 525px;
  margin-left: 170px;
  padding: 10px;
}

a,
i {
  cursor: pointer;
  vertical-align: middle;
  color: rgb(82, 82, 82);
  text-decoration: none;
}

li {
  list-style-type: none;
  display: inline-block;
}

nav a:link,
.left-footer a:link,
.right-footer a:link,
nav a:visited,
.left-footer a:visited,
.right-footer a:visited {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all .3s;
}

nav a:hover,
.left-footer a:hover,
.right-footer a:hover,
nav a:active,
.left-footer a:active,
.right-footer a:active {
  border-bottom: 1px solid rgb(36, 36, 36);
  color: rgb(36, 36, 36);
}

i:hover,
i:active {
  color: rgb(36, 36, 36);
}

.btn {
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 2px;
  color: rgba(80, 80, 80, 0.7); 
  transition: all .3s;
}

.btn:hover {
  border: 1px solid rgba(124, 124, 124, 0.4);
  color: #000;
}

/* Navbar */

.navbar {
  position: relative;
  width: 100%;
}

.navbar ul {
  position: absolute;
  top: 25px;
  right: 30px;
}

.navbar ul li {
  padding-left: 15px; 
}

/* Search Box */

.search {
  width: 600px;
  position: absolute;
  top: 21%;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  text-align: center;
  padding-bottom: 25px;
}

.search-box {
  position: relative;
}

.search-box i {
  position: absolute;
  top: 10px;
  right: 15px;
}

input[type=text] {
  display: block;
  width: 100%;
  height: 45px;
  margin-bottom: 25px;
  padding: 15px;
  outline: none;
  border: 1px solid rgb(212, 209, 209, 0.8);
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(212, 209, 209, 0.8);
  transition: all .3s;
}

input[type=text]:hover,
input[type=text]:focus {
  border-left: 1px solid rgb(202, 202, 202);
  border-right: 1px solid rgb(202, 202, 202);
  box-shadow: 0px 2px 8px rgb(197, 197, 197);
}

.buttons {
  text-align: center;
}

.buttons .btn {
  background-color: rgb(241, 241, 241);
  font-weight: 700;
  margin-right: 10px;
}

/* Footer */

.left-footer {
  position: absolute;
  bottom: 15px;
  left: 30px;
}

.left-footer li {
  padding-right: 30px; 
}

.right-footer {
  position: absolute;
  bottom: 15px;
  right: 30px;
}

.right-footer li {
  padding-left: 30px; 
}

/* Results header */

.results-header {
  padding: 25px 30px 25px 15px;
}

.header-left {
  float: left;
  width: 700px;
}

.header-left img {
  float: left;
  width: 20%;
  margin-right: 15px;
}

.search-bar {
  float: left;
  width: 75%;
  position: relative;
}

.search-bar input[type=text] {
  display: inline-block;
  width: 100%;
}

.search-bar i:first-of-type {
  position: absolute;
  top: 10px;
  right: 50px;
}

.search-bar i:last-of-type {
  position: absolute;
  top: 10px;
  right: 15px;
}

.header-right {
  float: right;
  margin-top: 10px;
}

.header-right li {
  margin-left: 15px;
}

.left-menu {
  float: left;
}

.right-menu {
  float: right;
}

.right-menu a,
.left-menu a {
  color: rgb(124, 124, 124);
  padding: 10px;
}

.right-menu a:hover,
.right-menu a:active,
.left-menu a:hover,
.left-menu a:active {
  color: rgb(32, 32, 32);
}

.left-menu .selected {
  color: rgb(64, 135, 216);
  font-weight: 700;
  border-bottom: 3px solid rgb(64, 135, 216);
}

/* Results main */

.info {
  color: rgb(124, 124, 124);
}

.result {
  margin: 25px 0;
}

.link {
  font-size: 20px;
  color: rgb(20, 69, 206);
  border-bottom: 1px solid transparent;
  transition: all .3s;
}

.link:hover,
.link:active {
  border-bottom: 1px solid rgb(20, 69, 206);
}

.address,
.address i {
  color: rgb(2, 114, 39);
}

.left-related {
  float: left;
}

.right-related {
  float: left;
  margin-left: 50px;
}

.related h2 {
  margin-bottom: 10px;
  font-weight: 400;
}

.related a {
  font-size: 15px;
}

.pagination ul {
  padding: 20px 0;
}

.pagination ul {
  margin: 0 auto;
  text-align: center;
}

.pagination li {
  padding-right: 5px;
}

.pagination li:last-child {
  padding-left: 25px; 
}

.pagination ul li:first-child {
  font-weight: 700;
}

/* Results footer */

footer .links {
  margin: 20px 0;
}

.links a:link,
.links a:visited {
  color: rgb(124, 124, 124);
  padding: 10px 10px 10px 0;
}

.links a:hover,
.links a:active {
  color: rgb(32, 32, 32);
}

.location span {
  font-size: 16px;
}


/* Clearfix */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}